**/.DS_Store
**/node_modules

**/*.env
**/.vercel

**/*.pem

# local env files
**/*.env*.local
*.env.vercel

# typescript
**/*.tsbuildinfo

**/app-example

# jest coverage reports
**/coverage/

backend/drizzle
.vercel
